# 1. Preparing the Energy and Temperature Data

In [185]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

### Loading Files

In [186]:
temperature_data = pd.read_csv('hr_temp_20170201-20200131_subset.csv')
energy_data = pd.read_csv('hrl_load_metered - 20170201-20200131.csv')

In [187]:
#temperature data = HourlyDryBulbTemperature
temperature_data.head()

,STATION,DATE,REPORT_TYPE,SOURCE,HourlyDryBulbTemperature
0,72520514762,2017-02-01T00:53:00,FM-15,7,37.0
1,72520514762,2017-02-01T01:53:00,FM-15,7,37.0
2,72520514762,2017-02-01T02:53:00,FM-15,7,36.0
3,72520514762,2017-02-01T03:53:00,FM-15,7,36.0
4,72520514762,2017-02-01T04:53:00,FM-15,7,36.0

In [188]:
#mw = megawat usage data
energy_data.head()

,datetime_beginning_utc,datetime_beginning_ept,nerc_region,mkt_region,zone,load_area,mw,is_verified
0,2/1/2017 5:00,2/1/2017 0:00,RFC,WEST,DUQ,DUQ,1419.881,True
1,2/1/2017 6:00,2/1/2017 1:00,RFC,WEST,DUQ,DUQ,1379.505,True
2,2/1/2017 7:00,2/1/2017 2:00,RFC,WEST,DUQ,DUQ,1366.106,True
3,2/1/2017 8:00,2/1/2017 3:00,RFC,WEST,DUQ,DUQ,1364.453,True
4,2/1/2017 9:00,2/1/2017 4:00,RFC,WEST,DUQ,DUQ,1391.265,True

In [189]:
print(f'temperature data : {len(temperature_data)}')
print(f'energy data : {len(energy_data)}')

temperature data : 26280
energy data : 26280

### Merging files

In [190]:
frames = [temperature_data,energy_data,]
df = pd.concat(frames, axis=1)
df.head()

,STATION,DATE,REPORT_TYPE,SOURCE,HourlyDryBulbTemperature,datetime_beginning_utc,datetime_beginning_ept,nerc_region,mkt_region,zone,load_area,mw,is_verified
0,72520514762,2017-02-01T00:53:00,FM-15,7,37.0,2/1/2017 5:00,2/1/2017 0:00,RFC,WEST,DUQ,DUQ,1419.881,True
1,72520514762,2017-02-01T01:53:00,FM-15,7,37.0,2/1/2017 6:00,2/1/2017 1:00,RFC,WEST,DUQ,DUQ,1379.505,True
2,72520514762,2017-02-01T02:53:00,FM-15,7,36.0,2/1/2017 7:00,2/1/2017 2:00,RFC,WEST,DUQ,DUQ,1366.106,True
3,72520514762,2017-02-01T03:53:00,FM-15,7,36.0,2/1/2017 8:00,2/1/2017 3:00,RFC,WEST,DUQ,DUQ,1364.453,True
4,72520514762,2017-02-01T04:53:00,FM-15,7,36.0,2/1/2017 9:00,2/1/2017 4:00,RFC,WEST,DUQ,DUQ,1391.265,True

In [191]:
'''
All you need in your data frame is the date,
megawatt usage per hour (mw from energy data),
and temperature (HourlyDryBulbTemperature from weather data).
'''
df = df[['DATE','mw','HourlyDryBulbTemperature']]

In [192]:
df.head()

                  DATE        mw  HourlyDryBulbTemperature
0  2017-02-01T00:53:00  1419.881                      37.0
1  2017-02-01T01:53:00  1379.505                      37.0
2  2017-02-01T02:53:00  1366.106                      36.0
3  2017-02-01T03:53:00  1364.453                      36.0
4  2017-02-01T04:53:00  1391.265                      36.0

### Convert Date to Datetime & creation of hour,day,month and year variables

In [193]:
df.DATE = pd.to_datetime(df.DATE)

In [194]:
df['Hour'] = df.DATE.dt.hour

In [195]:
#df['Day'] = df.DATE.dt.day

In [196]:
df['Weekday'] = df.DATE.dt.weekday

In [197]:
df['Month'] = df.DATE.dt.month

In [198]:
df['Year']= df.DATE.dt.year

In [199]:
df.head()

,DATE,mw,HourlyDryBulbTemperature,Hour,Weekday,Month,Year
0,2017-02-01 00:53:00,1419.881,37.0,0,2,2,2017
1,2017-02-01 01:53:00,1379.505,37.0,1,2,2,2017
2,2017-02-01 02:53:00,1366.106,36.0,2,2,2,2017
3,2017-02-01 03:53:00,1364.453,36.0,3,2,2,2017
4,2017-02-01 04:53:00,1391.265,36.0,4,2,2,2017

### Setting DATE variable as index

In [200]:
df.set_index('DATE',inplace=True)

In [201]:
df.head(-10)

,mw,HourlyDryBulbTemperature,Hour,Weekday,Month,Year
DATE,,,,,,
2017-02-01 00:53:00,1419.881,37.0,0,2,2,2017
2017-02-01 01:53:00,1379.505,37.0,1,2,2,2017
2017-02-01 02:53:00,1366.106,36.0,2,2,2,2017
2017-02-01 03:53:00,1364.453,36.0,3,2,2,2017
2017-02-01 04:53:00,1391.265,36.0,4,2,2,2017
...,...,...,...,...,...,...
2020-01-31 09:53:00,1661.594,33.0,9,4,1,2020
2020-01-31 10:53:00,1657.562,36.0,10,4,1,2020
2020-01-31 11:53:00,1659.393,38.0,11,4,1,2020
2020-01-31 12:53:00,1627.607,40.0,12,4,1,2020
2020-01-31 13:53:00,1614.783,41.0,13,4,1,2020

### Linear interpolation to fix these missing values in  temperature data.

In [202]:
df.isnull().sum()

mw                           0
HourlyDryBulbTemperature    37
Hour                         0
Weekday                      0
Month                        0
Year                         0
dtype: int64

In [203]:
df.HourlyDryBulbTemperature = df.HourlyDryBulbTemperature.interpolate()

In [204]:
df.isnull().sum()

mw                          0
HourlyDryBulbTemperature    0
Hour                        0
Weekday                     0
Month                       0
Year                        0
dtype: int64

### Splitting data into training and testing data set

In [205]:
train = df[:'2020-01-01']
test = df['2020-01-01':]

In [206]:
print(f'Train len: {len(train)}')
train.head(1)

Train len: 25560

,mw,HourlyDryBulbTemperature,Hour,Weekday,Month,Year
DATE,,,,,,
2017-02-01 00:53:00,1419.881,37.0,0,2,2,2017

In [207]:
print(f'Test len: {len(test)}')
test.head(1)

Test len: 744

,mw,HourlyDryBulbTemperature,Hour,Weekday,Month,Year
DATE,,,,,,
2020-01-01 00:53:00,1363.428,31.0,0,2,1,2020

In [209]:
train.to_csv('train.csv')
test.to_csv('test.csv')